body {
    margin: 0;
    font-family: 'TT Travels Text Trl';
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    background-color: #0C0C0B;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
    color: inherit;
}

@font-face {
    font-family: 'TT Travels Text Trl';
    src: url(./font/TT-Travels-Text-VF-Trial.woff) format('opentype');
    font-display: swap;
}

/* КОНТЕЙНЕР */

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
}

@media (max-width: 575.98px) {
    .container {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
}

/* ХЭДЕР */

.header {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.604079131652661) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.85) 100%), url(./img/promo-background.png);
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 47px;
}

.header-logo__title {
    display: flex;
    align-items: center;
}

.logo {
    padding-right: 16px;
}

.logo-caption {
    font-size: 16px;
    max-width: 275px;
}

.burger-menu {
    display: none;
}

.header-nav {
    font-size: 20px;
    width: 679px;
}

.nav-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.nav-link:hover {
    color: #E1FF2D;
    animation-duration: 0.2ms;
}

/* Текст промо-блока и кнопка */

.promo-text {
    padding-top: 224px;
}

.promo-subtitle {
    padding-bottom: 16px;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.promo-title {
    max-width: 944px;
    font-size: 96px;
    font-weight: 700;
    text-transform: uppercase;
    color: #E1FF2D;
}

.promo-action {
    padding: 124px 0px 33px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.promo-description {
    max-width: 555px;
}

.promo-description-mobile {
    display: none;
}

.arrow-button {
    border: none;
    width: 61px;
    height: 61px;
    background-color: #E1FF2D;
    cursor: pointer;
}

/* Вставить крестик */

.close {
    display: none;
}

.graffiti-pattern {
    z-index: 1;
    position: relative;
}

@media (max-width: 575.98px) {

    .header {
        height: auto;
        background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.604079131652661) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.85) 100%), url(./img/promo-mobile.png);
        background-size: cover;

    }

    .header-inner {
        padding-top: 24px;
    }

    .header-nav.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .close {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        background-color: #000;
        margin: 28px;
        padding: 30px;
        align-items: flex-end;
        gap: 11px;
    }

    .logo {
        padding: 0;
        width: 120px;
    }

    .burger-menu {
        display: block;
    }

    .logo-caption, .header-nav {
        display: none;
    }


    .promo-text {
        padding-top: 250px;
    }

    .promo-subtitle {
        font-size: 20px;
        padding-bottom: 8px;
    }

    .promo-title {
        font-size: 44px;
    }

    .promo-action {
        padding: 8px 0px 40px 0px;
    }

    .promo-description {
        display: none;
    }

    .promo-description-mobile {
        display: block;
        max-width: 270px;
        font-size: 14px;
        padding-bottom: 24px;
    }

    .arrow-button {
        position: relative;
        left: 239px;
        width: 53px;
        height: 53px;
    }
}

/* О МЕДИА */

.about-media-section {
    position: relative;
    padding: 219px 0px 116px 0px;
}

.title {
    font-size: 64px;
    padding-bottom: 26px;
    color: #E1FF2D;
}

.text {
    max-width: 647px;
}

.text-mobile {
    display: none;
}

.about-media__button {
    border: none;
    background-color: #E1FF2D;
    color: black;
    font-family: 'TT Travels Text Trl';
    font-size: 20px;
    margin-top: 80px;
    font-weight: 700;
    padding: 18px 44px;
    cursor: pointer;
}

.about-media__button:hover {
    box-shadow: inset 0 0 0 2px #E1FF2D;
    background-color: #0C0C0B;
    color: #E1FF2D;
}

.graffiti-pattern {
    position: absolute;
    right: 0;
    top: 57px;
    z-index: -1;
}

@media (max-width: 575.98px) {
    
    .about-media-section {
        padding: 52px 0px 62px 0px;
    }

    .title {
        font-size: 40px;
        line-height: 36px;
        padding-bottom: 16px;
    }

    .text {
        display: none;
    }

    .text-mobile {
        display: block;
        font-size: 16px;
    }

    .about-media__button {
        font-size: 16px;
        margin-top: 36px;
        font-weight: 700;
        padding: 13px 33px;
    }
}

/* МИССИЯ */

.our-mission-section {
    padding: 98px 0px 118px 0px;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 45%), url(./img/mission-background.png);
    background-size: cover;
}

.mission-counter {
    padding-top: 104px;
    gap: 80px;
    display: flex;
    flex-wrap: wrap;
}

.item-number {
    width: 67px;
    height: 67px;
    background-color: #E1FF2D;
    font-size: 30px;
    font-weight: 700;
    align-content: center;
    text-align: center;
    color: #000;
}

.i2 {
    padding-top: 211px;
}

.i3 {
    padding-top: 69px;
}

.item-line {
    margin: 40px 0px 24px 0px;
    width: 230px;
}

.item-text {
    font-size: 20px;
    max-width: 255px;
}

@media (max-width: 575.98px) {
    .our-mission-section {
        padding: 32px 0px 45px 0px;
        background: url(./img/mission-mobile.png) center no-repeat;
        background-size: cover;
    }

    .mission-counter {
        gap: 26px;
        padding-top: 56px;
    }

    .counter-item {
        display: flex;
        align-items: center;
        gap: 34px;
    }

    .item-number {
        width: 53px;
        height: 53px;
        font-size: 20px;
    }

    .i2, .i3 {
        padding: 0;
    }

    .item-line {
       display: none;
    }

    .item-text {
        font-size: 15px;
        max-width: 213px;
    }
}

/* ЦЕННОСТИ */

.our-values-section {
    padding: 108px 0px 128px 0px;
}

.values {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-top: 21px;
}

.value-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 43px 34px;
    width: 645px;
    height: 311px;
    filter: grayscale(100%);
}

.value-card:hover {
    filter: grayscale(0%);
}

.c1 {
    background: url(./img/freedom-img.png);
}

.c2 {
    background: url(./img/emotions-img.png);
}

.c3 {
    background: url(./img/flexibility-img.png);
}

.c4 {
    background-image: url(./img/accessibility-img.png);
}


.value-card__title {
    color: #E1FF2D;
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 12px;
}

.value-card__text {
    font-size: 20px;
    max-width: 440px;
}

@media (max-width: 575.98px) {
    
    .our-values-section {
        padding: 42px 0px;
    }

    .values {
        padding-top: 9px;
        gap: 20px;
    }

    .value-card {
        padding: 22px 16px;
        filter: grayscale(0%);
    }

    .value-card__title {
        font-size: 20px;
        padding-bottom: 8px;
    }

    .value-card__text {
    font-size: 16px;
    max-width: 231px;
    }
}

/* СТАТЬИ */

.articles-section {
    padding: 89px 0px 166px 0px;
    background: url(./img/articles-img.png) center no-repeat;
    background-size: cover;
}

.articles-cards {
    padding-top: 20px;
    display: flex;
    gap: 25px;
    overflow-x: auto;
    user-select: none;
    scrollbar-width: none;
}

.article-card {
    background-color: #E1FF2D;
    color: #000;
    width: 519px;
    flex: 0 0 auto;
}

.article-img {
    color: #fff;
    width: 100%;
    height: 356px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 20px;
}

.img1 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(./img/cyber-graffiti-img.png);
}

.img2 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(./img/mysterious-graffiti-img.png);
}

.img3 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), url(./img/old-graffiti-img.png);
}

.location {
    display: flex;
    align-items: center;
}

.geo-point {
    width: 24px;
    height: 27px;
}

.address {
    padding-left: 16px;
}

.arrow-button-mini {
    border: none;
    width: 61px;
    height: 61px;
    background-color: #E1FF2D;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.article-card-description {
    padding: 18px 19px 27px 18px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 700;
}

@media (max-width: 575.98px) {

    .articles-section {
        padding: 32px 0px 65px 0px;
        background: url(./img/atricles-mobile.png) center no-repeat;
        background-size: cover;
    }

    .articles-cards {
        display: flex;
        gap: 25px;
    }

    .article-card {
        width: 300px;
        height: 246px;
    }

    .article-img {
        height: 168px;
        padding: 8px 10px;
    }

    .geo-point {
        width: 16px;
        height: 18px;
    }

    .address {
        font-size: 16px;
        padding-left: 6px;
        padding-right: 90px;
    }

    .arrow-button-mini {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
    }

    .arrow-mini {
        width: 15px;
        height: 17px;
    }

    .article-card-description {
        padding: 8px 33px 16px 33px;
        font-size: 16px;
        line-height: 20px;
    }

}

/* КОМАНДА */

.team-section {
    padding: 131px 0px 170px 0px;
}

.team-title-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-media-links {
    display: flex;
    gap: 45px;
}

.social-media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 67px;
    height: 67px;
    background-color: #E1FF2D;
    cursor: pointer;
}

.team-members {
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member-name-position {
    padding: 38px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
}


@media (max-width: 575.98px) {
    
    .team-section {
        padding: 42px 0px 47px 0px;
    }

    .team-title-links {
        align-items: flex-start;
    }

    .social-media-links {
        gap: 12px;
        flex-direction: column;
    }

    .social-media-button {
        width: 28px;
        height: 28px;
    }

    .vk, .telegram {
        width: 20px;
        height: 20px;
    }

    .team-members {
        padding-top: 30px;
        gap: 54px;
    }

    .member-name-position {
        padding: 22px 0px 10px 0px;
        font-size: 16px;
    }
    
    .position-underline {
        width: 100%;
    }

    .member-photo {
        width: 100%;
    
    }
}

/* ФУТЕР*/

.footer-block {
    padding: 60px 0px 80px 0px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.contacts-elements {
    display: flex;
    align-items: center;
    gap: 30px;
    padding-bottom: 55px;
}

.contact-separator {
    width: 506px;
}

.contact-separator2 {
    width: 379px;
}

.contact-title {
    color: #E1FF2D;
}


.contact-caption {
    font-size: 20px;
}

.contact-social-media {
    padding: 20px 0px 58px 0px;
    display: flex;
    gap: 34px;
    filter: invert(100%) sepia(78%) saturate(0%) hue-rotate(154deg) brightness(109%) contrast(101%);
}

.copyrignt-caption {
    padding-top: 73px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: lighter;
}

.logo-footer {
    padding-right: 175px;
}

.copyright-text {
    display: flex;
}

.copyrignt-media-name {
    max-width: 215px;
}

.copyrignt-secure {
    padding-left: 118px;
}

.copyrignt-brand {
    padding-left: 111px;
}

@media (max-width: 575.98px) {

    .footer-block {
        padding: 35px 0px 67px 0px;
    }

    .contacts {
        gap: 60px;
    }

    .contacts-elements {
        gap: 14px;
        padding-bottom: 20px;
    }

    .contact-title {
        font-size: 16px;
    }

    .contact-separator {
        width: 213px;
    }

    .contact-separator2 {
        width: 128px;
    }

    .contact-description {
        display: flex;
        justify-content: space-between;
    }

    .contact-vk {
        width: 28px;
        height: 28px;
    }

    .contact-telegram {
        width: 25px;
        height: 25px;
    }

    .contact-caption {
        font-size: 16px;
    }

    .contact-social-media {
        gap: 14px;
        padding: 0;
    }

    .footer-separator {
        margin: 48px 0px 36px 0px;
    }

    .copyrignt-caption {
        align-items: flex-start;
        padding: 0;
        font-size: 16px;
    }
    
    .copyright-text {
        font-size: 14px;
        text-align: right;
        display: flex;
        flex-direction: column;
    }

    .logo-footer {
        width: 101px;
        padding: 0;
    }
    
    .copyrignt-secure, .copyrignt-brand {
        padding: 0;
    }

}
